<% if collection.respond_to?(:total_pages) && collection.total_pages > 1 %>
  <nav class="pagination" aria-label="Pagination">
    <% if collection.prev_page %>
      <%= link_to "Previous", url_for(page: collection.prev_page), class: "btn btn--sm" %>
    <% end %>
    <span>Page <%= collection.current_page %> of <%= collection.total_pages %></span>
    <% if collection.next_page %>
      <%= link_to "Next", url_for(page: collection.next_page), class: "btn btn--sm" %>
    <% end %>
  </nav>
<% end %>
